@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
 
@layer base{
  :root{
    --color-text-base:#ffffff;
    --background-color-base:#fd3605;
    --color-button-hover:#fd3705b4;
    --button-color-base:#5eff00;
    --spaan-text-color:#0235ff;
  }
}